Repository Yikai-Liao/symusic: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp

fix: downgrade actions/upload-artifact and actions/download-artifact to v4 in workflow
  .github/workflows/wheel.yml
Due: none

fix: add CIBW_ENABLE environment variable for pypy in workflow files
  .github/workflows/test_wheel.yml
  .github/workflows/wheel.yml
Due: none

fix: remove QEMU setup step from wheel build workflows
  .github/workflows/test_wheel.yml
  .github/workflows/wheel.yml
Due: none

fix: add manylinux_aarch64 build platform for pypy in wheel workflows
  .github/workflows/test_wheel.yml
  .github/workflows/wheel.yml
Due: none

fix: update Python version for pypy in wheel build workflows
  .github/workflows/test_wheel.yml
  .github/workflows/wheel.yml
Due: none

fix: simplify wheel build job naming and update Python versions in workflow
  .github/workflows/test_wheel.yml
Due: none

fix: refactor build selectors for wheel jobs to dynamically set CIBW_BUILD
  .github/workflows/test_wheel.yml
Due: none

fix: update CIBW_SKIP to exclude additional platforms for pypy builds
  .github/workflows/test_wheel.yml
Due: none

fix: add documentation strings for synthesizer and score bindings
  py_src/core.cpp
  py_src/doc.hpp
  py_src/py_utils.h
Due: cpp

Add miniabc integration for ABC file handling
  .gitmodules
  3rdparty/miniabc/CMakeLists.txt
  3rdparty/miniabc/README.md
  3rdparty/miniabc/abc_standard.md
  3rdparty/miniabc/include/miniabc/miniabc.h
  3rdparty/miniabc/src/miniabc.cpp
  CMakeLists.txt
  include/symusic/io/abc.h
  py_src/core.cpp
  src/io/abc.cpp
  tests/test_abc.py
Due: python, cpp

fix: improve error handling and parsing logic in miniabc; refactor ABC test cases for clarity
  3rdparty/miniabc/src/miniabc.cpp
  src/io/abc.cpp
  tests/test_abc.py
Due: python, cpp

feat: enhance ABC parsing by adding support for chords and lyrics; introduce new test cases for validation
  3rdparty/miniabc/include/miniabc/miniabc.h
  3rdparty/miniabc/src/miniabc.cpp
  src/io/abc.cpp
  tests/cpp/test_abc_io.hpp
  tests/cpp/test_main.cpp
  tests/testcases/abc_files/chords_lyrics.abc
Due: cpp

feat: add support for multiple voices and lyrics handling; enhance ABC file parsing and testing
  3rdparty/miniabc/include/miniabc/miniabc.h
  3rdparty/miniabc/src/miniabc.cpp
  CMakeLists.txt
  src/io/abc.cpp
  tests/cpp/test_abc_io.hpp
  tests/testcases/abc_files/chords_lyrics.abc
  tests/testcases/abc_files/multi_voice_utf8.abc
Due: cpp

Implement Synthesizer and Track bindings with enhanced functionality
  AGENTS.md
  CMakeLists.txt
  py_src/backup_original/bind_vector_copy.h
  py_src/backup_original/core.cpp
  py_src/backup_original/py_utils.h
  py_src/bindings/binding_common.h
  py_src/bindings/event_bindings.h
  py_src/bindings/module.cpp
  py_src/bindings/score_bindings.h
  py_src/bindings/synthesizer_bindings.cpp
  py_src/bindings/synthesizer_bindings.h
  py_src/bindings/track_bindings.h
  py_src/utils/python_helpers.h
  py_src/utils/vector_bindings.h
Due: cpp

clang format
  py_src/backup_original/bind_vector_copy.h
  py_src/backup_original/core.cpp
  py_src/backup_original/py_utils.h
  py_src/bindings/event_bindings.h
  py_src/bindings/module.cpp
  py_src/bindings/score_bindings.h
  py_src/bindings/track_bindings.h
  py_src/utils/python_helpers.h
  py_src/utils/vector_bindings.h
Due: cpp

feat: implement AST structures and parsing rules for ABC grammar; update documentation and development log
  3rdparty/miniabc/src/miniabc.cpp
  CMakeLists.txt
  docs/ABC_SUPPORT.md
Due: cpp

Enhance documentation and structure of symusic factory classes; add ReadTheDocs configuration and remove outdated tutorial notebook
  docs_rtd/api/core/index.md
  docs_rtd/api/index.md
  docs_rtd/index.md
  docs_rtd/scripts/sync_core_docs.py
  py_src/bindings/docstring_helpers.h
  py_src/bindings/events/event_bindings.h
  py_src/bindings/score/score_bindings.h
  py_src/bindings/synth/synthesizer_bindings.cpp
  py_src/bindings/track/track_bindings.h
Due: python, cpp

Refactor ABC lyrics tokenization and update ABC tick resolution
  3rdparty/miniabc/include/miniabc/miniabc.h
  3rdparty/miniabc/src/miniabc.cpp
  docs/ABC_SUPPORT.md
  src/io/abc.cpp
Due: cpp

refactor: Remove custom core API documentation generation script and update related files.
  docs_rtd/api/core/index.md
  docs_rtd/conf.py
  docs_rtd/scripts/sync_core_docs.py
Due: python

docs(core): stabilize API Reference rendering and structure
  .trae/documents/docs_rtd 构建与评估并制定改进计划.md
  .trae/documents/修复 API 文档渲染与源注释以恢复签名、分组与示例.md
  docs_rtd/_ext/format_attributes.py
  docs_rtd/_ext/nb_doc.py
  docs_rtd/_static/api-tweaks.css
  docs_rtd/api/core/events.md
  docs_rtd/api/core/index.md
  docs_rtd/api/core/scores.md
  docs_rtd/api/core/time_units.md
  docs_rtd/api/core/tracks.md
  docs_rtd/api/core/utilities.md
  docs_rtd/api/generated/symusic.ControlChange.rst
  docs_rtd/api/generated/symusic.KeySignature.rst
  docs_rtd/api/generated/symusic.Note.rst
  docs_rtd/api/generated/symusic.Pedal.rst
  docs_rtd/api/generated/symusic.PitchBend.rst
  docs_rtd/api/generated/symusic.Score.rst
  docs_rtd/api/generated/symusic.Tempo.rst
  docs_rtd/api/generated/symusic.TimeSignature.rst
  docs_rtd/api/generated/symusic.TimeUnit.rst
  docs_rtd/api/generated/symusic.Track.rst
  docs_rtd/conf.py
  docs_rtd/requirements.txt
  py_src/bindings/docstring_helpers.h
  py_src/bindings/events/event_bindings.h
  py_src/bindings/score/score_bindings.h
  py_src/bindings/synth/synthesizer_bindings.cpp
  py_src/bindings/track/track_bindings.h
Due: python, cpp

docs(core): enable intersphinx cross-refs and fix types
  .trae/documents/为本地 pip 安装提供“快速编译”开关.md
  CMakeLists.txt
  docs_rtd/conf.py
  py_src/bindings/synth/synthesizer_bindings.cpp
Due: python, cpp

docs(RTD): install from repo with SYMUSIC_FAST_BUILD and ensure cmake/ninja
  readthedocs.yml
Due: none

ci: remove docs-rtd.yml
  .github/workflows/docs-rtd.yml
Due: none

ci(readthedocs): recursive clone
  readthedocs.yml
Due: none

ci: force compile symusic
  readthedocs.yml
Due: none

Docs: fix Events API grouping and method docs; standardize subheading to 'Note'; build script now activates .venv exclusively
  build_docs_with_pagefind.sh
  docs_rtd/api/core/events.md
  py_src/bindings/events/event_bindings.h
  py_src/bindings/score/score_bindings.h
  py_src/bindings/track/track_bindings.h
Due: cpp

Docs: enhance API documentation and structure; add event lists, update scores and tracks, refine Soundfont classes, and improve synthesizer factory docstrings
  docs_rtd/_ext/format_attributes.py
  docs_rtd/_static/api-tweaks.css
  docs_rtd/api/core/event_lists.md
  docs_rtd/api/core/index.md
  docs_rtd/api/core/scores.md
  docs_rtd/api/core/tracks.md
  docs_rtd/api/generated/symusic.BuiltInSF2.rst
  docs_rtd/api/generated/symusic.BuiltInSF3.rst
  docs_rtd/api/generated/symusic.Soundfont.rst
  docs_rtd/api/index.md
  docs_rtd/conf.py
  py_src/bindings/synth/synthesizer_bindings.cpp
  python/symusic/factory.py
  python/symusic/soundfont.py
Due: python, cpp

Simplify nanobind_autodoc.py and update .gitignore for doc_tmp build artifacts
  .gitignore
  doc_tmp/_ext/nanobind_autodoc.py
Due: python

Add nb::sig signatures to binding files for better documentation
  py_src/bindings/events/event_bindings.h
  py_src/bindings/score/score_bindings.h
  py_src/bindings/track/track_bindings.h
Due: cpp

Add complete documentation files and demo module
  doc_tmp/_autosummary/symusic.core.rst
  doc_tmp/_autosummary/symusic.demo.rst
  doc_tmp/_autosummary/symusic.factory.rst
  doc_tmp/_autosummary/symusic.soundfont.rst
  doc_tmp/_autosummary/symusic.types.rst
  doc_tmp/api.rst
  doc_tmp/conf.py
  doc_tmp/index.rst
  doc_tmp/modules.rst
  python/symusic/demo.py
Due: python

Docs: enhance nanobind support in Sphinx by patching function and method descriptor recognition; add property return type inference
  doc_tmp/_ext/nanobind_autodoc.py
Due: python

Refactor documentation structure and enhance API visibility
  docs_rtd/README.md
  docs_rtd/_ext/nanobind_autodoc.py
  docs_rtd/api/_autosummary/symusic.BuiltInSF2.rst
  docs_rtd/api/_autosummary/symusic.BuiltInSF3.rst
  docs_rtd/api/_autosummary/symusic.ControlChange.rst
  docs_rtd/api/_autosummary/symusic.KeySignature.rst
  docs_rtd/api/_autosummary/symusic.Note.rst
  docs_rtd/api/_autosummary/symusic.Pedal.rst
  docs_rtd/api/_autosummary/symusic.PitchBend.rst
  docs_rtd/api/_autosummary/symusic.Score.rst
  docs_rtd/api/_autosummary/symusic.Soundfont.rst
  docs_rtd/api/_autosummary/symusic.Synthesizer.rst
  docs_rtd/api/_autosummary/symusic.Tempo.rst
  docs_rtd/api/_autosummary/symusic.TimeSignature.rst
  docs_rtd/api/_autosummary/symusic.TimeUnit.rst
  docs_rtd/api/_autosummary/symusic.Track.rst
  docs_rtd/api/_autosummary/symusic.core.rst
  docs_rtd/api/_autosummary/symusic.demo.rst
  docs_rtd/api/_autosummary/symusic.dump_wav.rst
  docs_rtd/api/_autosummary/symusic.factory.rst
  docs_rtd/api/_autosummary/symusic.types.rst
  docs_rtd/api/core/event_lists.md
  docs_rtd/api/core/events.md
  docs_rtd/api/core/scores.md
  docs_rtd/api/core/time_units.md
  docs_rtd/api/core/tracks.md
  docs_rtd/api/core/utilities.md
  docs_rtd/api/index.md
  docs_rtd/concepts/events.md
  docs_rtd/concepts/score.md
  docs_rtd/concepts/synthesis.md
  docs_rtd/concepts/time_units.md
  docs_rtd/concepts/track.md
  docs_rtd/conf.py
Due: python

新增文档：为多个工厂类添加自动生成的API文档
  docs_rtd/api/_autosummary/symusic.factory.ControlChangeFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.CoreClasses.rst
  docs_rtd/api/_autosummary/symusic.factory.KeySignatureFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.NoteFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.PedalFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.PitchBendFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.ScoreFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.SynthesizerFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.TempoFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.TextMetaFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.TimeSignatureFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.TimeUnitFactory.rst
  docs_rtd/api/_autosummary/symusic.factory.TrackFactory.rst
  docs_rtd/api/core/event_lists.md
  docs_rtd/api/core/events.md
  docs_rtd/api/core/scores.md
  docs_rtd/api/core/time_units.md
  docs_rtd/api/core/tracks.md
  docs_rtd/api/core/utilities.md
  docs_rtd/api/index.md
Due: none

Path conditions:
  python: any of: **/*.py
  cpp: any of: **/*.cpp, **/*.h, **/*.hpp
