Repository Yikai-Liao/symusic: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp

simplifying build
  .github/workflows/test_wheel.yml
Due: none

adding `CIBW_ENABLE: pypy`
  .github/workflows/test_wheel.yml
Due: none

adding pypy-eol to enable
  .github/workflows/test_wheel.yml
Due: none

feat: Add Sphinx documentation setup and initial content for symusic 1.0
  .github/workflows/docs-rtd.yml
  .gitignore
  README.md
  docs_rtd/Makefile
  docs_rtd/_static/.gitkeep
  docs_rtd/_templates/.gitkeep
  docs_rtd/api/generated/symusic.ControlChange.rst
  docs_rtd/api/generated/symusic.KeySignature.rst
  docs_rtd/api/generated/symusic.Note.rst
  docs_rtd/api/generated/symusic.Pedal.rst
  docs_rtd/api/generated/symusic.PitchBend.rst
  docs_rtd/api/generated/symusic.Score.rst
  docs_rtd/api/generated/symusic.Synthesizer.rst
  docs_rtd/api/generated/symusic.Tempo.rst
  docs_rtd/api/generated/symusic.TimeSignature.rst
  docs_rtd/api/generated/symusic.TimeUnit.rst
  docs_rtd/api/generated/symusic.Track.rst
  docs_rtd/api/generated/symusic.dump_wav.rst
  docs_rtd/api/index.md
  docs_rtd/conf.py
  docs_rtd/index.md
  docs_rtd/introduction.md
  docs_rtd/legacy.md
  docs_rtd/make.bat
  docs_rtd/quickstart.md
  docs_rtd/requirements.txt
  readthedocs.yml
Due: python

feat: Add comprehensive documentation for core concepts, including events, score, track, synthesis, and time units
  docs_rtd/concepts/events.md
  docs_rtd/concepts/index.md
  docs_rtd/concepts/score.md
  docs_rtd/concepts/synthesis.md
  docs_rtd/concepts/time_units.md
  docs_rtd/concepts/track.md
  docs_rtd/conf.py
  docs_rtd/index.md
  docs_rtd/introduction.md
  docs_rtd/project_notes.md
  docs_rtd/quickstart.md
  docs_rtd/requirements.txt
Due: python

feat: Add TODO checklist for Sphinx migration documentation
  docs_rtd/TODO.md
Due: none

feat: Add initial documentation and configuration files for symusic project
  .serena/.gitignore
  .serena/memories/code_style.md
  .serena/memories/docs_migration_status.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
Due: none

Add documentation for examples, tutorials, and FAQ
  .gitignore
  .serena/memories/docs_build_cmd.md
  .serena/memories/docs_migration_status.md
  docs_rtd/TODO.md
  docs_rtd/concepts/index.md
  docs_rtd/conf.py
  docs_rtd/examples/analysis.md
  docs_rtd/examples/generation.md
  docs_rtd/examples/index.md
  docs_rtd/examples/preprocessing.md
  docs_rtd/faq.md
  docs_rtd/index.md
  docs_rtd/legacy.md
  docs_rtd/project_notes.md
  docs_rtd/quickstart.md
  docs_rtd/tutorials/data_processing.md
  docs_rtd/tutorials/index.md
  docs_rtd/tutorials/midi_operations.md
  docs_rtd/tutorials/pianoroll.md
  docs_rtd/tutorials/synthesis.md
Due: python

feat: Add sphinx-copybutton dependency to requirements for enhanced documentation features
  docs_rtd/requirements.txt
Due: none

feat: Enhance Sphinx configuration by adding autosectionlabel and todo extensions
  docs_rtd/conf.py
Due: python

feat: Add Pagefind integration with custom search page and build script
  build_docs_with_pagefind.sh
  docs_rtd/README.md
  docs_rtd/_templates/search.html
  docs_rtd/conf.py
  pagefind.yml
Due: python

feat: Update search template to use pathto for Pagefind assets and configure post-build job in ReadTheDocs
  docs_rtd/_templates/search.html
  readthedocs.yml
Due: none

fix: Update post-build command in ReadTheDocs configuration to use dynamic site directory
  readthedocs.yml
Due: none

feat: Add Sphinx extension for caching remote images and update documentation with benchmarks
  AGENTS.md
  docs_rtd/_ext/remote_images.py
  docs_rtd/conf.py
  docs_rtd/introduction.md
  docs_rtd/requirements.txt
  tutorial.ipynb
Due: python

refactor: Remove benchmark snapshot section from quickstart documentation
  docs_rtd/quickstart.md
Due: none

Add symusic package installation to pre_build step in Read the Docs configuration
  docs_rtd/README.md
  docs_rtd/TODO.md
  docs_rtd/api/generated/core/symusic.core.Synthesizer.rst
  docs_rtd/api/generated/symusic.Synthesizer.rst
  docs_rtd/api/generated/symusic.dump_wav.rst
  docs_rtd/api/index.md
  docs_rtd/conf.py
  docs_rtd/project_notes.md
  py_src/core.cpp
  readthedocs.yml
Due: python, cpp

feat: add .gitignore and project configuration files; update version to 0.5.9; enhance MIDI parsing with strict mode sanitization
  .serena/.gitignore
  .serena/memories/project_overview.md
  .serena/memories/style_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
  python/symusic/__init__.py
  src/io/midi.cpp
Due: python, cpp

docs: add section on Python compatibility and CI coverage in README
  README.md
Due: none

Refactor MIDI parsing to include optional data sanitization
  .gitmodules
  .serena/memories/project_overview.md
  .serena/memories/style_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
  CMakeLists.txt
  README.md
  docs/src/development.md
  examples/cpp/process_midi_directory.cpp
  generate_stub.sh
  include/symusic/io/iodef.h
  py_src/core.cpp
  python/symusic/core.pyi
  python/symusic/factory.py
  src/io/midi.cpp
Due: python, cpp

fix: correct path resolution in multilingual file test and update submodule reference
  src/io/midi.cpp
  tests/test_multilang_path.py
Due: python, cpp

chore: update actions/checkout and codecov-action versions across workflows; remove multilingual flag from book.toml
  .github/workflows/deploy_docs.yml
  .github/workflows/lint.yml
  .github/workflows/test_wheel.yml
  .github/workflows/tests.yml
  .github/workflows/wheel.yml
  docs/book.toml
Due: none

feat: add typing generics for core bindings
  py_src/bind_vector_copy.h
  py_src/core.cpp
  py_src/py_utils.h
  pyproject.toml
  python/symusic/types.py
  tests/typecheck/test_typing_mypy.py
Due: python, cpp

chore: simplify type aliases and extend mypy tests
  python/symusic/types.py
  tests/typecheck/test_typing_mypy.py
Due: python

feat: enhance typing for PyVec and add new test for TimeSignatureList union
  py_src/py_utils.h
  python/symusic/types.py
  tests/typecheck/test_typing_mypy.py
Due: python, cpp

feat: enhance type hints for core generics and list aliases in development documentation
  docs/src/development.md
Due: none

fix: change default value of sanitize_data to false in MIDI parsing functions
  py_src/core.cpp
  python/symusic/factory.py
  src/io/midi.cpp
Due: python, cpp

fix: downgrade actions/upload-artifact and actions/download-artifact to v4 in workflow
  .github/workflows/wheel.yml
Due: none

Path conditions:
  python: any of: **/*.py
  cpp: any of: **/*.cpp, **/*.h, **/*.hpp
