Repository Yikai-Liao/symusic: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic settings
        target: auto
        threshold: 1%
        # adjust accordingly based on how flaky your tests are
        # this allows a 1% drop from the previous base commit coverage
        base: auto
        flags:
          - python
          - cpp
    patch: yes
    changes: no

flags:
  python:
    paths:
      - "**/*.py"
  cpp:
    paths:
      - "**/*.cpp"
      - "**/*.h"
      - "**/*.hpp"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

增强nanobind支持：修补MethodDocumenter以正确标记静态工厂，优化成员排序
  docs/_ext/nanobind_autodoc.py
Due: python

fix sphinx version to 7.4.7
  docs/requirements.txt
Due: none

Integrate nanobind introspection patches
  docs/_ext/nanobind_patch_notes.md
Due: none

更新nanobind子模块的URL和分支，确保使用最新的特性分支
  .gitmodules
Due: none

miniabc: add miniabc directory
  3rdparty/miniabc/CMakeLists.txt
  3rdparty/miniabc/PLAN.md
  3rdparty/miniabc/README.md
  3rdparty/miniabc/abc_standard.md
  3rdparty/miniabc/include/miniabc/ast.h
  3rdparty/miniabc/include/miniabc/error.h
  3rdparty/miniabc/include/miniabc/fraction.h
  3rdparty/miniabc/include/miniabc/miniabc.h
  3rdparty/miniabc/include/miniabc/support.h
  3rdparty/miniabc/src/common.cpp
  3rdparty/miniabc/src/common.h
  3rdparty/miniabc/src/parse.cpp
  3rdparty/miniabc/src/render.cpp
Due: cpp

Fix MIDI note timing unit handling and add quarter regressions
  src/io/midi.cpp
  tests/cpp/test_midi_io.hpp
  tests/test_second_conversion.py
Due: python, cpp

Stabilize lint scope and fix PyPy mypy runtime dependency
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  py_src/bindings/docstring_helpers.h
Due: cpp

Implement beat APIs and harden ABC/MIDI file loading
  include/symusic/score.h
  py_src/bindings/score/score_bindings.h
  python/symusic/factory.py
  src/score.cpp
  tests/cpp/test_track_score.hpp
  tests/test_abc.py
  tests/test_beats.py
  tests/test_malformed_midi.py
  tests/testcases/MIDIs_corrupted/Issue104_Bizarre_Love_Triangle2.mid
Due: python, cpp

fix: harden abc conversion and CI security
  .github/CODEOWNERS
  .github/workflows/lint.yml
  .github/workflows/test_wheel.yml
  .github/workflows/tests.yml
  .github/workflows/wheel.yml
  CMakeLists.txt
  py_src/bindings/score/score_bindings.h
  py_src/utils/process_runner.cpp
  py_src/utils/process_runner.h
  tests/test_abc.py
Due: python, cpp

Refactor code structure for improved readability and maintainability
  .gitignore
  uv.lock
Due: none

Build abcmidi via upstream overlay
  .gitmodules
  CMakeLists.txt
  cmake/abcmidi/CMakeLists.txt
  cmake/abcmidi/abcmidi_compat.h
  cmake/abcmidi/genmidi_wrapper.c
  cmake/abcmidi/midi2abc_wrapper.c
  cmake/abcmidi/midifile_wrapper.c
  cmake/abcmidi/music_utils_wrapper.c
  cmake/abcmidi/parseabc_wrapper.c
  cmake/abcmidi/parser2_wrapper.c
  cmake/abcmidi/queues_wrapper.c
  cmake/abcmidi/store_wrapper.c
  cmake/abcmidi/stresspat_wrapper.c
Due: cpp

Handle Windows Unicode ABC paths
  py_src/bindings/score/score_bindings.h
  py_src/utils/process_runner.cpp
  src/io/common.cpp
  tests/test_multilang_path.py
Due: python, cpp

Drop broken PyPy librt install step
  .github/workflows/tests.yml
Due: none

Fix Windows MIDI path regressions
  .gitattributes
  .github/workflows/tests.yml
  CMakeLists.txt
  src/io/common.cpp
  tests/cpp/test_common_io.hpp
  tests/test_multilang_path.py
Due: python, cpp

Fix abcmidi overlay C90 build standard
  cmake/abcmidi/CMakeLists.txt
Due: none

fix: restore strict midi validation and ci coverage
  .github/workflows/tests.yml
  src/io/midi.cpp
  tests/test_abc.py
  tests/test_beats.py
  tests/test_malformed_midi.py
Due: python, cpp

ci: restore pypy mypy runtime dependency
  .github/workflows/tests.yml
Due: none

ci: skip mypy typing checks on pypy
  .github/workflows/tests.yml
  tests/typecheck/test_typing_mypy.py
Due: python

perf: speed up pip install builds
  .github/workflows/tests.yml
  CMakeLists.txt
  py_src/bindings/core/binding_prelude.h
  py_src/bindings/core/binding_registration.h
  py_src/bindings/core/module.cpp
  py_src/bindings/events/register_events.cpp
  py_src/bindings/events/register_events_controls.cpp
  py_src/bindings/events/register_events_notes.cpp
  py_src/bindings/score/register_scores.cpp
  py_src/bindings/synth/synthesizer_bindings.cpp
  py_src/bindings/track/register_tracks.cpp
  scripts/benchmark_install.py
Due: python, cpp

perf: trim binding prelude includes
  py_src/bindings/core/binding_prelude.h
  py_src/bindings/core/module.cpp
  py_src/bindings/synth/synthesizer_bindings.cpp
  tests/test_abc.py
Due: python, cpp

test: remove standalone multilingual path target
  .github/workflows/tests.yml
  CMakeLists.txt
  scripts/benchmark_install.py
  tests/cpp/test_multilang_path.cpp
Due: python, cpp

ci: align github actions dependency updates
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/test_wheel.yml
  .github/workflows/tests.yml
  .github/workflows/wheel.yml
Due: none

Use Catch2 submodule instead of FetchContent
  .gitmodules
  CMakeLists.txt
  tests/README.md
Due: none

Update third-party dependency tags
  .gitignore
  .gitmodules
  CMakeLists.txt
Due: none

Add pickle regression tests
  py_src/bindings/events/event_bindings.h
  tests/test_pickle.py
Due: python, cpp

Fix pickle test lint and add hook installer
  scripts/install_git_hooks.sh
  scripts/run_pre_commit_hook.sh
  tests/test_pickle.py
Due: python

Optimize Windows builds with Ninja routing
  .github/workflows/test_wheel.yml
  .github/workflows/tests.yml
  .github/workflows/wheel.yml
  CMakeLists.txt
  README.md
  pyproject.toml
Due: none

Drop Python 3.8 support for 0.6.0
  .github/workflows/test_wheel.yml
  .github/workflows/tests.yml
  .github/workflows/wheel.yml
  .gitignore
  .serena/.gitignore
  .serena/memories/code_style.md
  .serena/memories/docs_build_cmd.md
  .serena/memories/docs_migration_status.md
  .serena/memories/project_overview.md
  .serena/memories/style_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
  docs/faq.md
  docs/quickstart.md
  pyproject.toml
  python/symusic/__init__.py
  python/symusic/types.py
  uv.lock
Due: python

test: add minimidi malformed MIDI regressions
  tests/test_malformed_midi.py
Due: python

docs: add 2026-04-05 v0.6.0 readiness review
  .agents/2026-04-05-v0.6.0-readiness-review.md
Due: none

fix: address v0.6.0 readiness review findings
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  .gitignore
  AGENTS.md
  docs/README.md
  docs/api/index.md
  docs/conf.py
  py_src/bindings/core/module.cpp
  py_src/bindings/events/event_bindings.h
Due: python, cpp

remove .trae
  .trae/documents/docs_rtd 构建与评估并制定改进计划.md
  .trae/documents/为本地 pip 安装提供“快速编译”开关.md
  .trae/documents/修复 API 文档渲染与源注释以恢复签名、分组与示例.md
Due: none

test: add regression tests for #90 and #78
  tests/test_abc.py
  tests/test_second_conversion.py
  tests/testcases/issue78_dump_abc.mid
  tests/testcases/issue90.mid
Due: python

Format malformed MIDI tests
  tests/test_malformed_midi.py
Due: python

Fix lint issues in second conversion tests
  tests/test_second_conversion.py
Due: python

Fix pianoroll ownership with unique_ptr
  include/symusic/pianoroll.h
  src/pianoroll.cpp
  tests/cpp/test_pianoroll.hpp
  tests/test_pianoroll.py
Due: python, cpp

TODO: ub fixing
  .agents/2026-04-05-ub-audit-report.md
Due: none
