Repository Yikai-Liao/symusic: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic settings
        target: auto
        threshold: 1%
        # adjust accordingly based on how flaky your tests are
        # this allows a 1% drop from the previous base commit coverage
        base: auto
        flags:
          - python
          - cpp
    patch: yes
    changes: no

flags:
  python:
    paths:
      - "**/*.py"
  cpp:
    paths:
      - "**/*.cpp"
      - "**/*.h"
      - "**/*.hpp"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

Add local C++ review debugging and DevOps skills
  .agents/skills/code-reviewer/SKILL.md
  .agents/skills/code-reviewer/references/common-issues.md
  .agents/skills/code-reviewer/references/feedback-examples.md
  .agents/skills/code-reviewer/references/receiving-feedback.md
  .agents/skills/code-reviewer/references/report-template.md
  .agents/skills/code-reviewer/references/review-checklist.md
  .agents/skills/code-reviewer/references/spec-compliance-review.md
  .agents/skills/cpp-pro/SKILL.md
  .agents/skills/cpp-pro/references/build-tooling.md
  .agents/skills/cpp-pro/references/concurrency.md
  .agents/skills/cpp-pro/references/memory-performance.md
  .agents/skills/cpp-pro/references/modern-cpp.md
  .agents/skills/cpp-pro/references/templates.md
  .agents/skills/debugging-wizard/SKILL.md
  .agents/skills/debugging-wizard/references/common-patterns.md
  .agents/skills/debugging-wizard/references/debugging-tools.md
  .agents/skills/debugging-wizard/references/quick-fixes.md
  .agents/skills/debugging-wizard/references/strategies.md
  .agents/skills/debugging-wizard/references/systematic-debugging.md
  .agents/skills/devops-engineer/SKILL.md
  .agents/skills/devops-engineer/references/deployment-strategies.md
  .agents/skills/devops-engineer/references/docker-patterns.md
  .agents/skills/devops-engineer/references/github-actions.md
  .agents/skills/devops-engineer/references/incident-response.md
  .agents/skills/devops-engineer/references/kubernetes.md
  .agents/skills/devops-engineer/references/platform-engineering.md
  .agents/skills/devops-engineer/references/release-automation.md
  .agents/skills/devops-engineer/references/terraform-iac.md
Due: none

docs: promote RTD and refresh API docs navigation
  README.md
  docs/README.md
  docs/TODO.md
  docs/_static/sidebar-scroll.js
  docs/api/_autosummary/symusic.Soundfont.rst
  docs/api/_autosummary/symusic.core.rst
  docs/api/_autosummary/symusic.demo.rst
  docs/api/_autosummary/symusic.factory.rst
  docs/api/_autosummary/symusic.types.rst
  docs/api/index.md
  docs/concepts/events.md
  docs/concepts/generics.md
  docs/concepts/score.md
  docs/concepts/synthesis.md
  docs/concepts/time_units.md
  docs/concepts/track.md
  docs/conf.py
  docs/examples/index.md
  docs/index.md
  docs/introduction.md
  docs/project_notes.md
Due: python

Add beat regression coverage against pretty_midi
  pyproject.toml
  src/score.cpp
  tests/test_beats_pretty_midi.py
Due: python, cpp

Refactor beat time conversion through shared helpers
  include/symusic/conversion.h
  include/symusic/detail/time_conversion.h
  src/conversion.cpp
  src/score.cpp
  tests/cpp/test_conversion_detailed.hpp
Due: cpp

docs: refresh release documentation and changelog
  CHANGELOG.md
  README.md
  docs/README.md
  docs/development.md
  docs/faq.md
  docs/introduction.md
  docs/project_notes.md
  docs/quickstart.md
  tests/README.md
Due: none

docs: update changelog by removing outdated additions
  CHANGELOG.md
Due: none

Run full test suite for Python 3.14 JIT and 3.14t CI job
  .github/workflows/tests.yml
  tests/test_runtime_compatibility.py
Due: python

Add MusicXML support via mx
  .gitmodules
  CMakeLists.txt
  include/symusic.h
  include/symusic/io/musicxml.h
  py_src/bindings/score/score_bindings.h
  python/symusic/factory.py
  src/io/musicxml.cpp
  tests/test_musicxml.py
Due: python, cpp

Improve MusicXML corpus roundtrip coverage
  src/io/musicxml.cpp
  tests/test_musicxml.py
Due: python, cpp

Harden MusicXML roundtrip contract
  docs/introduction.md
  scripts/musicxml_benchmark.py
  src/io/musicxml.cpp
  tests/test_musicxml.py
Due: python, cpp

Document MusicXML I/O design
  docs/concepts/index.md
  docs/concepts/musicxml_io.md
  docs/index.md
  docs/introduction.md
Due: none

Preserve tie-chain lyrics in MusicXML
  docs/concepts/musicxml_io.md
  docs/introduction.md
  src/io/musicxml.cpp
  tests/test_musicxml.py
Due: python, cpp

Refine MusicXML data structures
  src/io/musicxml.cpp
Due: cpp

Document MusicXML review decisions
  .agents/plans/2026-04-09-musicxml-review-and-next-steps.md
  docs/concepts/musicxml_io.md
Due: none

Add two project-specific development skills for style and dependencies
  .agents/skills/symusic-code-style/SKILL.md
  .agents/skills/symusic-dependency-taste/SKILL.md
Due: none

Add two project-specific development skills for style and dependencies (#111)
  .agents/skills/symusic-code-style/SKILL.md
  .agents/skills/symusic-dependency-taste/SKILL.md
Due: none

Remove MusicXML export patch phase
  docs/concepts/musicxml_io.md
  docs/introduction.md
  src/io/musicxml.cpp
  tests/test_musicxml.py
Due: python, cpp

Preserve FluidLite work while reanchoring the branch to main
  .gitignore
  .gitmodules
Due: none

refactor: redesign synth around FluidLite
  CMakeLists.txt
  README.md
  examples/cpp/synth.cpp
  include/symusic/synth.h
  py_src/bindings/synth/synthesizer_bindings.cpp
  pyproject.toml
  python/symusic/__init__.py
  python/symusic/factory.py
  scripts/benchmark_install.py
  src/synth.cpp
  tests/cpp/test_synth.hpp
  tests/test_synth.py
Due: python, cpp

Fix FluidLite routing and WAV stride handling
  include/symusic/synth.h
  py_src/bindings/synth/synthesizer_bindings.cpp
  src/synth.cpp
  tests/cpp/test_synth.hpp
  tests/test_synth.py
Due: python, cpp

Fix CMake transitive deps for fmt and pyvec
  CMakeLists.txt
Due: none

Fix Python 3.9 annotations and Windows synth test runtime
  CMakeLists.txt
  python/symusic/factory.py
Due: python

Remove pydantic from synth validation
  pyproject.toml
  python/symusic/factory.py
  tests/test_synth.py
Due: python

Use pypdl for soundfont downloads
  docs/requirements.txt
  pyproject.toml
  python/symusic/soundfont.py
  tests/test_soundfont.py
  uv.lock
Due: python
