Repository Yikai-Liao/symusic: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic settings
        target: auto
        threshold: 1%
        # adjust accordingly based on how flaky your tests are
        # this allows a 1% drop from the previous base commit coverage
        base: auto
        flags:
          - python
          - cpp
    patch: yes
    changes: no

flags:
  python:
    paths:
      - "**/*.py"
  cpp:
    paths:
      - "**/*.cpp"
      - "**/*.h"
      - "**/*.hpp"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

Update .codecov.yml to exclude specific directories from coverage reports and modify tests.yml to target the symusic module for coverage analysis, enhancing overall test accuracy.
  .codecov.yml
  .github/workflows/tests.yml
Due: none

新增多个测试文件以增强代码覆盖率，包括对常见I/O操作、转换功能、事件处理、音轨和乐谱的详细测试。更新主测试文件以包含新测试，确保全面验证各个模块的功能。
  tests/cpp/test_common_io.hpp
  tests/cpp/test_conversion.hpp
  tests/cpp/test_conversion_detailed.hpp
  tests/cpp/test_event_detailed.hpp
  tests/cpp/test_main.cpp
  tests/cpp/test_midi_io.hpp
  tests/cpp/test_pianoroll.hpp
  tests/cpp/test_repr.hpp
  tests/cpp/test_repr_detailed.hpp
  tests/cpp/test_score.hpp
  tests/cpp/test_synth.hpp
  tests/cpp/test_track.hpp
  tests/cpp/test_zpp.hpp
Due: cpp

Update GitHub Actions workflow to set minimum CMake policy version for both Linux and Windows configurations, ensuring compatibility and consistency in build processes.
  .github/workflows/tests.yml
Due: none

Add numba_midi benchmark
  README.md
Due: none

Add a test
  tests/test_trim.py
Due: python

Add multilingual path support for file I/O
  CMakeLists.txt
  py_src/core.cpp
  src/io/common.cpp
  tests/cpp/test_multilang_path.cpp
  tests/test_multilang_path.py
  tests/testcases/ملف_اختبار.midi
  tests/testcases/ملف_اختبار_copy.midi
  tests/testcases/テストファイル.midi
  tests/testcases/テストファイル_copy.midi
  tests/testcases/文件_#@!.midi
  tests/testcases/文件_#@!_copy.midi
  tests/testcases/测试文件.midi
  tests/testcases/测试文件_copy.midi
  tests/testcases/테스트파일.midi
  tests/testcases/테스트파일_copy.midi
Due: python, cpp

Add `strict_mode` option for parsing midi whether to check message attribute range
  py_src/core.cpp
  src/io/midi.cpp
Due: cpp

Ruff: Pre-commit
  pre_commit.sh
  pyproject.toml
  tests/cpp/test_multilang_path.cpp
  tests/test_multilang_path.py
  tests/test_trim.py
Due: python, cpp

fix abc2midi filesystem path fix strict_mode
  .gitignore
  include/symusic/io/iodef.h
  py_src/core.cpp
  pyproject.toml
  src/io/midi.cpp
  uv.lock
Due: cpp

add strict mode to python factory.py from_midi
  python/symusic/factory.py
Due: python

Update __init__.py
  python/symusic/__init__.py
Due: python

Add an example to demostrate extract features using C++
  CMakeLists.txt
  examples/cpp/process_midi_directory.cpp
Due: cpp

Fix: Santize value range when parsing MIDI
  src/io/midi.cpp
Due: cpp

test workflows
  .github/workflows/deploy_docs.yml
  .github/workflows/lint.yml
  .github/workflows/test_wheel.yml
  .github/workflows/tests.yml
  .github/workflows/wheel.yml
  examples/cpp/dump.cpp
Due: cpp

add point for commit
  .github/workflows/tests.yml
Due: none

Revert "Fix: Santize value range when parsing MIDI"
  src/io/midi.cpp
Due: cpp

feat: Santize message value when not `strict_mode`
  src/io/midi.cpp
Due: cpp

adding wheel for python 3.14
  .github/workflows/wheel.yml
Due: none

updating cibuildwheel action + build platform matrix
  .github/workflows/test_wheel.yml
  .github/workflows/wheel.yml
Due: none

re-adding win32
  .github/workflows/test_wheel.yml
  .github/workflows/wheel.yml
Due: none
